*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    top: 0;
    
}
.hero ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;    
}
.hero ul li{
    font-family: 'Kalam', cursive;
    font-size: 1.2rem;
    font-weight: 500;
}
.hero ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 30px;
    transition: all .5s ease;
}
.hero ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
#Home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: centre;
    align-items: center;
    color: white;
    margin-top: 40vh;
    margin-left: 50vh;
    font-size: 2rem;
    
}
#Home ::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('image.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    width: 100%;
    border-radius: 100%;
    margin-left: 50vh;
    margin-top: 20vh;
}
.main{
    display: inline;
    flex-direction: column;
    
    
}
.btn{
    color: white;
    margin-top: 2vh;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 30px;
    font-family: 'Kalam', cursive;
    font-size: 1rem;
    outline: none;
    transition: .6s at ease;
    
}
.btn2{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 30px;
    font-family: 'Kalam', cursive;
    font-size: 1rem;
    outline: none;
    transition: .6s at ease;
}
.btn :hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;


}
.btn2 a{
    text-decoration: none;
    color: white;
}
